<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>RuleBot</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

<div class="chat-box">

<div class="header">
🤖 RuleBot
<p>Your AI Assistant</p>
</div>

<div id="chat-area">

<div class="bot message">
Hello 👋<br>
I'm RuleBot.<br>
How can I help you today?
</div>

</div>

<div class="input-area">

<input
type="text"
id="message"
placeholder="Type your message..."
autocomplete="off">

<button onclick="sendMessage()">Send</button>

</div>

</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>